.imagens{
    height: 50px;
}
main{
    background-color: darkblue;
    color: red;
}
footer{
    background-color: darkred;
    color: aqua;
}
header{
    background-color: aquamarine;

    color: aquamarine;
}